.card {
    display: flex;
    flex-direction: column;
    max-width: 250px;
    font-family: sans-serif;
    border-radius: 18px;
    background: var(--color-accent);
    color: white;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    text-align: center;
    cursor: pointer;
    position: relative;
    /* Важно для эффекта глубины */
    transform-style: preserve-3d;
    will-change: transform;
}

.card-image {
    height: 210px;
    background-size: cover;
    background-position: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    /* Градиент поверх фото */
    background-image: linear-gradient(#fff0 0%, #fff0 70%, #1d1d1d 100%);
}

.card-text {
    padding: 10px 0 20px 0;
    /* Создает эффект вылета текста вперед */
    transform: translateZ(50px);
}

.card-text .date {
    display: block;
    color: rgb(255, 7, 110);
    font-size: 18px;
    margin-bottom: 10px;
}

.card-text p {
    color: gray;
    font-size: 14px;
    line-height: 1.5;
}

/* RGB эффект */
.rgb::after {
    content: "";
    position: absolute;
    inset: -3px;
    background: linear-gradient(45deg, #ff0000, #ff9a00, #d0de21, #4fdc4a, #3fdad8, #2fc9e2, #1c7fee, #5f15f2, #ba0cf8, #fb07d9, #ff0000) repeat 0 0 / 300% 100%;
    border-radius: 18px;
    filter: blur(8px);
    transform: translateZ(-1px);
    animation: rgb-anim 6s linear infinite;
    z-index: -1;
}

@keyframes rgb-anim {
    0%, 100% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
}
