@import "tailwindcss";
@import "../css/transitionStyle.css";
@import "../css/text/color.css";
@import "../css/card/card.css";
@import "../css/UI/material-symbols-outlined.css";
@import "../css/UI/icons.css";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    /* 🌞 СВЕТЛАЯ ТЕМА */

    /* БАЗА */
    --color-background: #e4f4ff;
    --color-shell: #eef6fb;
    --color-panel: #e6f0f7;
    --color-panel-soft: #E6F3FE;
    --color-card: #ffffff;
    --color-card-foreground: #07101a;

    /* ТЕКСТ */
    --color-foreground: #07101a;
    --color-muted-foreground: #6b7a8c;

    /* АКЦЕНТЫ */
    --color-primary: #00bcd4;
    --color-primary-foreground: #ffffff;

    --color-secondary: #ff00d0;

    --color-accent: #e6f0f7;
    --color-accent-foreground: #07101a;

    /* ЭФФЕКТЫ */
    --color-neon: rgba(0, 230, 255, 0.08);
    --color-glass: rgba(0, 0, 0, .03);

    /* ui */
    --color-border: rgba(0, 0, 0, 0.08);
    --color-input: rgba(0, 0, 0, 0.05);
    --color-outline: #00bcd4;

    /* СТАТУСЫ */
    --color-success: #00c896;
    --color-error: #ff4d4f;
    --color-warning: #ffb800;

    /* ДЕНЬГИ */
    --color-price: #00c896;
    --color-price-old: #9aa6b2;
    --color-price-sale: #ff00d0;
}

.dark {
    /* БАЗА (чуть контрастнее) */
    --color-background: #060e17;
    --color-shell: #0a131d;
    --color-panel: #0f1722;
    --color-panel-soft: #131d2a;
    --color-card: rgba(255,255,255,0.04);
    --color-card-foreground: #e6f7ff;

    /* ТЕКСТ */
    --color-foreground: #e6f7ff;
    --color-muted-foreground: #94a3b8;

    /* АКЦЕНТЫ (сбалансированы с light) */
    --color-primary: #00e6ff;
    --color-primary-foreground: #07101a;

    --color-secondary: #ff00d0;

    --color-accent: #0f1722;
    --color-accent-foreground: #e6f7ff;

    /* ЭФФЕКТЫ */
    --color-neon: rgba(0,230,255,0.14);
    --color-glass: rgba(255,255,255,0.04);

    /* ui */
    --color-border: rgba(255,255,255,0.08);
    --color-input: rgba(255,255,255,0.06);
    --color-outline: #00e6ff;

    /* СТАТУСЫ */
    --color-success: #00ffb3;
    --color-error: #ff3b3b;
    --color-warning: #ffb800;

    /* ДЕНЬГИ */
    --color-price: #00ffb3;
    --color-price-old: #94a3b8;
    --color-price-sale: #ff00d0;
}

.muted {
    color: var(--color-muted-foreground);
}

.video {
    position: fixed;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.key-word {
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    color: var(--color-secondary);
}

.panel {
    background: linear-gradient(40deg, rgba(0, 230, 255, 0.03), rgba(255, 0, 208, .05));
    padding: 18px;
    border-radius: 14px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.6);
}
